@charset "utf-8";

/* CSS Document */
body {
    background-color: #7aa6a1;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #46716c;
    align-items: center;
    display: flex;
}

footer {
    text-align: center;
}

a {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-align: center;
    justify-content: center;
    font-size: 50px;
}

img {
    max-height: 200px;
    max-width: max-content;
}

li {
    margin: 0, 5px;
    padding: 9px;
    float: right;
}

#logo {
    height: 100px;
}

.lista {
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    justify-content: end;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.c {
    box-shadow: 3px 3px 10px #000000;
    margin: 10px;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.modelo {
    text-align: center;
    text-shadow: black 0.1em 0.1em 0.2em;
    color: #ffffff;
    font-size: 25px;
    background-color: #46716c;
    padding: 2px;
    width: 270px;
    align-items: center;
    border-radius: 2px;
    margin-left: 12%;
    margin-right: 12%;
}


@media screen and (max-width: 670px) {

    li {
        background-color: #666;
        width: 100px;
        height: 25px;
    }

    p {
        align-items: center;
        font-size: 20px;
    }

    h3 {
        font-family: 'Times New Roman', Times, serif;
    }

    li {
        background-color: #608c86;
        border: 2px solid #466762;
        margin: 1px;
        padding: 5px;
        text-align: center;
    }

    .container {    
        margin: 5rem 8rem;
    }

    .lista {
        font-family: 'Times New Roman', Times, serif;
        flex-direction: column;
        align-items: end;
        list-style: none;
    }

    .c {
        align-items: center;
    }
}